.title{
    text-align: center;
    margin-top: 20px;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #f7f8fc;
  font-family: "Roboto", sans-serif;
  color: #10182f;
}

@import url("https://fonts.googleapis.com/css?family=Varela+Round");

body {
  font-family: 'Varela Round', sans-serif;
}
.Header {
  position: relative;
  height: 80vh;
  display: block;
  
}
.Header-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(38, 27, 27);
  transform-origin: 0px 0px;
  
  overflow: hidden;
  
  z-index: -1;
}
.Header-background::before,
.Header-background::after {
  display: block;
  position: absolute;
  content: '';
  width: 80%;
  height: 33.333333333333336%;
  opacity: 0.3;
  filter: blur(15px);
}
.Header-background::before {
  background: var(--color-1);
  right: 0;
}
.Header-background::after {
  background: var(--color-2);
  bottom: 0;
}
.Header-content {
  text-align: center;
  padding: 4rem 4rem;
  margin: 0 auto;
}
@media (min-width: 58rem) {
  .Header-content {
    text-align: left;
    padding: 10rem 4rem;
    max-width: 54rem;
    display: flex;
    justify-content: space-between;
  }
}
.Header-hero h1,
.Header-hero p {
  color: #fff;
  text-shadow: 0 0.5rem 1rem rgba(50,0,100,0.1);
}
.Header-hero h1 {
  margin: 0;
  font-size: 3rem;
}
.Header-hero p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.Header-visuals {
  position: relative;
  margin-top: 5rem;
  transform: rotate(-10deg);
}
@media (min-width: 58rem) {
  .Header-visuals {
    margin: 0;
    transform: translateY(-5rem) rotate(-10deg);
  }
}
.Button {
  padding: 1.5rem 2rem;
  border: 0;
  color: var(--color-3);
  font-size: 1.2rem;
  font-weight: bold;
  background: #fff;
  border-radius: 3px;
  transition: all 0.2s;
  cursor: pointer;
  box-shadow: 0 1.75rem 2rem -0.4rem rgba(50,0,100,0.15);
}
.Button:hover {
  color: var(--color-4);
  box-shadow: 0 1.75rem 3rem 0rem rgba(50,0,100,0.1);
  transform: scale(1.05);
}
.Button:active {
  box-shadow: 0 1.75rem 2.5rem -0.2rem rgba(50,0,100,0.125);
  transform: scale(1.025);
}



.nav {
    width: 100%;
    background-color: #272728;
    display: flex;
    position: fixed;
    align-items: center;
    z-index: 10;
    
    padding: 7px 0;
  }
  .nav > .nav-header {
    flex: 0.95;
    padding-left: 1rem;
  }
  .nav > .nav-header > .nav-title {
    font-size: 22px;
    color: #fff;
  }
  .nav > .nav-list {
    display: flex;
    gap: 2rem;
  }
  .nav > .nav-list > li {
    list-style-type: none;
  }
  .nav > .nav-list > li a {
    text-decoration: none;
    color: #efefef;
    cursor: pointer;
  }
  .nav > #nav-check {
      display: none;
  }
  @media (max-width: 480px) {
    .nav {
      padding: 1rem;
    }
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0;
      top: 0;
      padding-top: 0.2rem;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-list {
      position: absolute;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 100%;
      background-color: #1A237E;
      height: 0;
      transition: all 0.3s ease-in;
      top: 40px;
      left: 0;
      overflow: hidden;
    }
    .nav > .nav-list > li {
      width: 100%;
      margin-top: 1.5rem;
    }
    .nav > #nav-check:checked ~ .nav-list {
      height: calc(100vh - 50px);
    }
  }
.container {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;

}
.card {
  margin: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 300px;
}
.card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  min-height: 250px;
}

.tag {
  background: #cccccc;
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  color: #fff;
  padding: 2px 10px;
  text-transform: uppercase;
  cursor: pointer;
}
.tag-teal {
  background-color: #47bcd4;
}
.tag-purple {
  background-color: #5e76bf;
}
.tag-red {
  background-color: #f93333;
}

.card-body p {
  font-size: 13px;
  margin: 0 0 40px;
}
.user {
  display: flex;
  margin-top: auto;
}

.user img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.user-info h5 {
  margin: 0;
}
.user-info small {
  color: #545d7a;
}

.title{
    font-size: 2em;
    font-weight: bold;
    
    padding-top: 70px;
    
}



.general {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    flex-direction: row;
    padding-top: 90px;
}

.container-info{
    width: 50%;
    padding-bottom: 55px;
}
.container-info h2{
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
}
.container-info .autor, .date{
    font-size: 1em;
    color: #545d7a;
    margin-bottom: 0px;
}
.container-info p{
    font-size: 1.1em;
    text-align: justify;
    margin-bottom: 20px;
}

.container-info img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}


.button-paper {
    align-self: center;
    background-color: #fff;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #41403e;
    cursor: pointer;
    display: inline-block;
    font-family: Neucha, sans-serif;
    font-size: 1rem;
    line-height: 23px;
    outline: none;
    padding: .75rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-paper:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
  }
  
  .button-paper:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
  }

  .button-paper a{
    text-decoration: none;
    color: #41403e;
  }

.another{
    width: 24%;
    
}

.another-info__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

}
.info_item{
    font-size: 1em;
    color: #545d7a;
    margin-bottom: 0px;
    margin: 0;
    width: 100%;
    padding-left: 14px;
    
}
  .another-img{
    width: 260px;
    height: 115px;
    
  }
  .another-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;

  }


  @media screen and (max-width: 1011px){
    .general{
        flex-direction: column;
        align-items: center;
        margin: 0px 20px;
    }
    .container-info{
        width: 100%;
    }
    .another{
        width: 100%;
    }
    
  }