<nav class="nav">
    <input type="checkbox" id="nav-check">
    <div class="nav-header">
      <div class="nav-title">
        Logo
      </div>
    </div>
    <div class="nav-btn">
      <label for="nav-check">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>
    
    <ul class="nav-list">
      <li><a href="#">Inicio</a></li>
      <li><a href="#">Categorias</a></li>
    </ul>
  </nav>


  

  <div class="general">

  <div class="container-info">
    <div class="info">
      <h2>Titulo Noticia</h2>
      <p class="autor">Autor</p>
      <p class="date">Fecha de publicacion</p>
      <div class="img">
        <img src="https://s.france24.com/media/display/c5214ea2-00c3-11ef-87a9-005056a90284/w:980/p:16x9/fb6e8bd6efcb052095c7ff0f91d1c3798079cdda.jpg" alt="">
      </div>

      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum consequatur nisi aliquid hic aut autem cupiditate, earum repellendus reprehenderit non dolorem? Quibusdam, fugiat quia? In animi exercitationem voluptate eius nulla.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam assumenda aliquam et ut eaque nam aliquid natus in, minus voluptatum at aperiam ex a odit tempore error ducimus inventore adipisci.</p>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos tempora reprehenderit doloremque deleniti recusandae, ducimus voluptatum. Mollitia, debitis numquam. Cupiditate, id! Illum quibusdam minus magnam ea repudiandae tempora, consequatur amet!
        o, temporibus ipsum iure incidunt, excepturi odit dicta eveniet delectus tenetur architecto dolores accusamus aspernatur omnis libero iusto ipsam. Rerum vitae harum ea dolor aliquid vel ad quaerat inventore!</p>
    </div>

    <button class="button-paper" role="button">
        <a href="/home">Volver</a>
    </button>

  </div>

  <div class="another">
    <h2>Noticias recomendadas</h2>
    <div class="another-info">
      <div class="another-info__item">
        
        <div class="another-img">
            <img src="https://s.france24.com/media/display/c5214ea2-00c3-11ef-87a9-005056a90284/w:980/p:16x9/fb6e8bd6efcb052095c7ff0f91d1c3798079cdda.jpg" alt="">
          </div>
          <div class="info_item">
            <h3>Titulo Noticia</h3>
            <p>Descripcion de la noticia</p>
            <p>Fecha de publicacion</p>
          </div>
        
      </div>
      <div class="another-info__item">
        
        <div class="another-img">
            <img src="https://s.france24.com/media/display/c5214ea2-00c3-11ef-87a9-005056a90284/w:980/p:16x9/fb6e8bd6efcb052095c7ff0f91d1c3798079cdda.jpg" alt="">
          </div>
          <div class="info_item">
            <h3>Titulo Noticia</h3>
            <p>Descripcion de la noticia</p>
            <p>Fecha de publicacion</p>
          </div>
        
      </div>

      <div class="another-info__item">
        
        <div class="another-img">
            <img src="https://s.france24.com/media/display/c5214ea2-00c3-11ef-87a9-005056a90284/w:980/p:16x9/fb6e8bd6efcb052095c7ff0f91d1c3798079cdda.jpg" alt="">
          </div>
          <div class="info_item">
            <h3>Titulo Noticia</h3>
            <p>Descripcion de la noticia</p>
            <p>Fecha de publicacion</p>
          </div>
        
      </div>
  </div>
</div>

